:root {
  font-size: clamp(1rem, 0.1vw + 1rem, 1.125rem);
  letter-spacing: 0.5px;
  /*max-width: clamp(55ch, 80%, 75ch);*/
}

body{
  font-family: "Inter", sans-serif;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #FAFAFA;
  color: #333333;
}

.header-content, .main-content, .footer-content{
  max-width: 1140px;
  margin: auto;
}

.main-content{
  display: grid;
  justify-items: center;
  gap: 3rem;
  width: min(85%, 1000px);
  margin: 3rem auto;
}

.main-content h2, .main-content h3{
  color: #222222;
}

.material-symbols-outlined{
  margin: 0 0.5rem;
}

/* -------------------------- Header and Navigation ------------------------- */
header{
  background-color: #0079B4;
  box-shadow: 
    0 2px 5px rgba(0, 40, 60, 0.05),
    0 10px 20px rgba(0, 40, 60, 0.08);
}

.header-content{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  padding: 1rem;
}

header a{
  height: 100%;
  align-self: center;
}

.header-content img{
  height: 100%;
}

header nav li:not(.nav-hamburger-item){
  display: none;
}

header nav ul{
  justify-self: end;
  display: flex;
  align-items: center;
  gap: min(2rem, 2vw);
  padding: 0;
  list-style-type: none;
}

header nav a{
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  color: white;
  white-space: nowrap;
  transition: color ease-out 0.1s;
}

.nav-active::after{
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 2rem);
  bottom: 0.5rem;
  left: 1rem;
  background-color: #FAFAFA;
}

.login-button{
  all: unset;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 550;
  color: white;
  white-space: nowrap;
  transition: color ease-out 0.1s;
}

.login-button:focus-visible{
  outline: auto -webkit-focus-ring-color;
}

.login-button .material-symbols-outlined{
  display: flex;
  align-items: center;
}

.login-button span{
  margin-left: 0;
}

.hamburger-button{
  cursor: pointer;
}

/* ------------------------------ Hero section ------------------------------ */
.hero-section{
  position: relative;
  display: flex;
  align-items: end;
  height: min(40vh, 400px);
}

.hero-image{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  filter: brightness(1.2);
  z-index: -1;
}

.hero-image-booking{
  filter: hue-rotate(23deg) brightness(1.2);
}

.hero-image-information{
  filter: hue-rotate(340deg) brightness(1.1);
}

.hero-image-contact{
  filter: hue-rotate(320deg) brightness(1.2);
}

.hero-content-container{
  display: flex;
  align-items: center;
  width: min(85%, 1000px);
  min-height: 60%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #0079B4;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.05),
    0 15px 30px rgba(0, 40, 60, 0.1);
}

.hero-content{
  margin: 0 auto;
  color: #FAFAFA;
}

.hero-content h1{
  letter-spacing: 1px;
  font-weight: 600;
}

.hero-content p{
  align-self: start;
  font-weight: 300;
}

/* ------------------------------- index.html ------------------------------- */
.main-content-index{
  max-width: none;
}

/* ---------------------------- Bookings preview ---------------------------- */
.bookings-preview{
  width: 100%;
}

.bookings-preview h2{
  text-align: center;
}

.preview-bookings-box{
  margin-top: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 30px rgba(0, 0, 0, 0.1);
}

.preview-bookings-box h3{
  margin-bottom: 0.5rem;
}

.faq-section{
  max-width: clamp(55ch, 80%, 75ch);
  margin: auto;
}

.faq-section h3{
  margin: 2rem 0 1rem 0;
}

.tel{
  white-space: nowrap;
}

/* ------------------------------ booking.html ------------------------------ */



/* ---------------------------- information.html ---------------------------- */
.main-content-information h2{
  margin-bottom: 1rem;
}

.main-content-information p, .main-content-information li{
  margin-bottom: 1.5ch;
}

/* ------------------------------ contact.html ------------------------------ */
.contact-form-container{
  display: grid;
  gap: 1rem;
}

.contact-form{
  display: grid;
  gap: 0.5rem;
  max-width: 500px;
}

#form-file-button{
  margin: 1rem 0;
}

#form-submit-button{
  width: 100%;
}
/* --------------------------------- Footer --------------------------------- */
footer{
  padding: 2rem;
  background-color: #3C4650;
}

footer ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 0;
  list-style-type: none;
  color: #FAFAFA;
}

footer a{
  color: #FAFAFA;
}

footer a:focus{
  outline-offset: 5px;
}

footer ul div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer img{
  height: 2rem;
}

/* ----------------------------- Global buttons ----------------------------- */
button{
  font-weight: 550;
  cursor: pointer;
}

.blue-button{
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: white;
  background-color: #0079B4;
  text-decoration: none;
  border: 2px solid #0079B4;
  border-radius: 0.5rem;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.15),
    0 15px 30px rgba(0, 40, 60, 0.2);
  transition: 
    transform ease-out 0.1s,
    background-color ease-out 0.1s;
}

.white-button{
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: #0079B4;
  background-color: white;
  text-decoration: none;
  border: 2px solid #0079B4;
  border-radius: 1rem;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.15),
    0 15px 30px rgba(0, 40, 60, 0.2);
}

.white-button:focus{
  outline: auto -webkit-focus-ring-color;
}

.link-button{
  transition: 
    transform ease-out 0.1s,
    background-color ease-out 0.1s;
}

.link-button:hover{
  transform: scale(1.07);
}

.link-button:active{
  background-color: rgb(4, 98, 145);
  transform: scale(1);
  border: none;
}

/* ------------------------------ Global inputs ----------------------------- */
label{
  font-weight: 500;
  color: #222222;
}

input, textarea{
  padding: 0.4rem 0.6rem;
  border: rgba(128, 128, 128, 0.3) solid 2px;
  border-radius: 8px;
  box-shadow: 
    0 2px 5px rgba(0, 40, 60, 0.05),
    0 10px 20px rgba(0, 40, 60, 0.08);
}

input:focus, textarea:focus{
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0.9);
}

input[type="date"], input[type="time"]{
  cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

textarea{
  min-height: 15ch;
  resize: vertical;
}

/* -------------------------------------------------------------------------- */
/*                             JavaScript classes                             */
/* -------------------------------------------------------------------------- */
.trip-strings{
  display: none;
}

h3 .trip-strings{
  margin-left: 0.5rem;
}

p .trip-strings{
  margin-right: 0.5rem;
}

.single-trip-container{
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.single-trip-container + .single-trip-container::before, .recurring-trip-container + .recurring-trip-container::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -1rem;
  background-color: #0079B4;
  opacity: 50%;
  border-radius: 3px;
}

.s-trip-item-1{
  justify-self: start;
  align-self: start;
  display: flex;
}

.s-trip-item-2{
  justify-self: end;
  align-self: start;
}

.s-trip-item-3{
  justify-self: start;
  align-self: end;
  display: flex;
  gap: 2rem;
}

.s-trip-item-4{
  justify-self: end;
  align-self: end;
}

.recurring-trip-container{
  position: relative;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.r-trip-item-1{
  display: flex;
}

.r-trip-item-2{
  display: flex;
  gap: 0.5rem;
}

.r-trip-item-3{
  display: flex;
  gap: 2rem;
}

.r-trip-item-4{
  display: flex;
  gap: 2rem;
}

.bookings-checkbox input{
  display: none;
}

.bookings-checkbox-box{
  display: grid;
  place-items: center;
  height: 3ch;
  width: 3ch;
  border: 2px solid #0079B4;
  border-radius: 4px;
  background-color: white;
  user-select: none;
}

.bookings-checkbox input:checked + .bookings-checkbox-box{
  color: white;
  background-color: #0079B4;
}

/* --------------------- Button to change or cancel trip -------------------- */
.bookings-preview button{
  all: unset;
  color: #045883;
  text-decoration: underline;
  cursor: pointer;
}

.bookings-preview button:focus-visible{
  outline: auto -webkit-focus-ring-color;
  outline-offset: 5px;
  color: #222222;
}

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 576px){
  .hero-content{
    width: 80%;
  }
}

@media (min-width: 768px){
  
}

@media (min-width: 992px){
  header a{
    height: 70%;
  }
  header nav li:not(.nav-hamburger-item){
    display: block;
  }

  .nav-hamburger-item{
    display: none;
  }

  .trip-strings{
    display: inline-block;
  }

  footer{
    font-size: 90%;
  }

  footer ul{
    flex-direction: row;
    gap: 0;
  }

  footer ul div{
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1200px){
  
}

@media (min-width: 1400px){
  
}