:root {
  font-size: clamp(1rem, 0.1vw + 1rem, 1.125rem);
  letter-spacing: 0.5px;
}

body{
  font-family: "Inter", sans-serif;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #FAFAFA;
  color: #333333;
}

.header-content, .main-content, .footer-content{
  max-width: 1140px;
  margin: auto;
}

.main-content{
  display: grid;
  justify-items: center;
  gap: 3rem;
  margin: 3rem auto;
}

.main-content h2, .main-content h3{
  color: #222222;
}

.material-symbols-outlined{
  margin: 0 0.5rem;
  vertical-align: middle;
}

/* -------------------------- Header and Navigation ------------------------- */
header{
  min-height: 80px;
  background-color: #0079B4;
  box-shadow: 
    0 2px 5px rgba(0, 40, 60, 0.05),
    0 10px 20px rgba(0, 40, 60, 0.08);
}

.header-content{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  padding: 1rem;
}

header a{
  display: flex;
  align-items: center;
  align-self: center;
}

.header-content img{
  height: 30px;
}

header nav{
  display: grid;
  align-items: center;
}

header nav ul{
  justify-self: end;
  display: none;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: min(2rem, 2vw);
  padding: 0;
  list-style-type: none;
}

header nav a{
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  color: white;
  white-space: nowrap;
  transition: color ease-out 0.1s;
}

.nav-active::after{
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 2rem);
  bottom: 0.5rem;
  left: 1rem;
  background-color: #FAFAFA;
}

.login-button{
  all: unset;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 550;
  color: white;
  white-space: nowrap;
  transition: color ease-out 0.1s;
}

.login-button:focus-visible{
  outline: auto -webkit-focus-ring-color;
}

.login-button .material-symbols-outlined{
  display: flex;
  align-items: center;
}

.login-button span{
  margin-left: 0;
}

/* ----------------------------- Hamburger menu ----------------------------- */
.hamburger-button{
  all: unset;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  cursor: pointer;
}

.hamburger-button:focus-visible{
  outline: auto -webkit-focus-ring-color;
}

header.hamburger-open .hamburger-button{
  position: relative;
  justify-content: center;
}

.line{
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: white;
}

header.hamburger-open .line{
  position: absolute;
}

header.hamburger-open .line1{
  transform: rotate(45deg);
}

header.hamburger-open .line2{
  transform: rotate(-45deg);
}

header.hamburger-open .line3{
  display: none;
}

header.hamburger-open .headerImg{
  display: none;
}

header.hamburger-open .header-content{
  grid-template-columns: 1fr;
  width: 100%;
}

header.hamburger-open nav{
  display: grid;
  grid-template-rows: calc(80px - 2rem) 1fr;
}

header.hamburger-open nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header.hamburger-open nav ul li a, header.hamburger-open nav ul li button{
  font-size: 1.5em;
}

/* ------------------------------ Hero section ------------------------------ */
.hero-section{
  position: relative;
  display: flex;
  align-items: end;
  min-height: min(40vh, 400px);
}

.hero-image{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  filter: brightness(1.2);
  z-index: -1;
}

.hero-image-booking{
  filter: hue-rotate(23deg) brightness(1.2);
}

.hero-image-information{
  filter: hue-rotate(340deg) brightness(1.1);
}

.hero-image-contact{
  filter: hue-rotate(320deg) brightness(1.2);
}

.hero-content-container{
  display: flex;
  align-items: center;
  width: min(100%, 800px);
  min-height: 60%;
  margin-left: clamp(1rem, 5vw, 2rem);
  margin-right: clamp(1rem, 5vw, 2rem);
  padding: 2rem;
  background-color: #0079B4;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.05),
    0 15px 30px rgba(0, 40, 60, 0.1);
}

.hero-content{
  max-width: 60ch;
  margin: 0 auto;
  color: white;
}

.hero-content h1{
  letter-spacing: 1px;
  font-weight: 600;
}

.hero-content p{
  align-self: start;
  font-weight: 300;
}

/* ------------------------------- index.html ------------------------------- */
.bookings-preview{
  width: 100%;
}

.bookings-preview h2{
  text-align: center;
}

.preview-bookings-box, .bookings-box{
  max-width: 800px;
  margin: auto;
  margin-top: 1rem;
  padding: clamp(1rem, 5vw, 2rem);
  background-color: white;
  box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.05),
    0 0 30px rgba(0, 0, 0, 0.1);
}

.preview-bookings-box h3{
  margin-bottom: 0.5rem;
}

.faq-section{
  max-width: clamp(40ch, 80%, 60ch);
  padding: clamp(1rem, 5vw, 2rem);
}

.faq-section h3{
  margin: 2rem 0 1rem 0;
}

.tel{
  white-space: nowrap;
}

/* ------------------------------ booking.html ------------------------------ */
.bookings-box{
  display: grid;
  gap: 1rem;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bookings-box-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100px;
}

.bookings-box-buttons button{
  all: unset;
  height: 100%;
  width: 100%;
  color: #222222;
  font-size: 1.1rem;
  font-weight: 550;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.bookings-box-buttons button:focus-visible{
  outline: auto -webkit-focus-ring-color;
  outline-offset: -10px;
  color: #222222;
}

#recurring-trip-button{
  box-shadow: inset 5px -5px 10px rgba(0, 40, 60, 0.1);
  background-color: #dfdfdf;
}

.booking-form{
  padding: clamp(1rem, 5vw, 2rem);
}

.recurring-option{
  display: none;
}

.end-date-checkbox{
  position: relative;
  height: 3ch;
  width: 3ch;
}

.end-date-checkbox input{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.end-date-checkbox-box{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 2px solid #0079B4;
  border-radius: 4px;
  background-color: white;
  opacity: 0.6;
  user-select: none;
  text-align: center;
  font-size: 1.3rem !important;
  padding-top: 4px;
}

.end-date-checkbox input:checked + .end-date-checkbox-box{
  color: white;
  background-color: #0079B4;
  opacity: 1;
}

.end-date-checkbox input:focus-visible + .end-date-checkbox-box{
  outline: auto -webkit-focus-ring-color;
  opacity: 1;
}

#end-date{
  display: none;
  width: 100%;
  margin-top: 0.5rem;
}

.fieldset-date input{
  background-color: white;
  box-shadow: none;
}

.fieldset-days{
  display: flex;
  gap: 0.5rem;
}

.bookings-checkbox input{
  position: absolute;
  height: 3ch;
  width: 3ch;
  opacity: 0;
}

.bookings-checkbox-box{
  display: grid;
  place-items: center;
  height: 3ch;
  width: 3ch;
  border: 2px solid #0079B4;
  border-radius: 4px;
  background-color: white;
  opacity: 0.6;
  user-select: none;
  cursor: pointer;
}

.bookings-checkbox input:focus-visible + .bookings-checkbox-box{
  outline: auto -webkit-focus-ring-color;
  opacity: 1;
}

.bookings-checkbox input:checked + .bookings-checkbox-box{
  color: white;
  background-color: #0079B4;
  opacity: 1;
}

#book-trip-button{
  margin-top: 1rem;
}

.error-list{
  margin-bottom: 1rem;
  padding-left: min(2rem, 5vw);
  color: #D0342C;
  scroll-margin-top: 50px
}

.error-list li:not(:first-child){
  margin-top: 0.5rem;
}

.trip-placeholder{
  position: relative;
  margin-bottom: 2rem;
}

.recurring-trip-placeholder{
  margin-bottom: 1rem;
}

.trip-placeholder::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1rem;
  left: 0;
  background-color: #0079B4;
  opacity: 50%;
  border-radius: 3px;
}

/* ---------------------------- information.html ---------------------------- */
.main-content-information{
  padding: clamp(1rem, 5vw, 2rem);
}

.main-content-information section{
  max-width: clamp(40ch, 80%, 60ch);
}

.main-content-information h2{
  margin-bottom: 1rem;
}

.main-content-information p, .main-content-information li{
  margin-bottom: 1.5ch;
}

/* ------------------------------ contact.html ------------------------------ */
.contact-form-container{
  display: grid;
  gap: 1rem;
  padding: clamp(1rem, 5vw, 2rem);
}

.contact-form, .booking-form{
  display: grid;
  gap: 0.5rem;
  max-width: 500px;
}

#form-file-button{
  margin: 1rem 0;
}

#form-submit-button{
  width: 100%;
}

.contact-paragraph{
  display: grid;
  gap: 1.5ch;
  max-width: 500px;
  padding: clamp(1rem, 5vw, 2rem);
  font-size: 85%;
  color: #555555;
}
/* --------------------------------- Footer --------------------------------- */
footer{
  padding: 2rem;
  background-color: #3C4650;
}

footer ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 0;
  list-style-type: none;
  color: #FAFAFA;
}

footer a{
  color: #FAFAFA;
}

footer a:focus-visible{
  outline-offset: 5px;
}

footer ul div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer img{
  height: 2rem;
}

/* -------------------- tillganglighetsredogorelser.html -------------------- */
.main-content-tillganglighet h2{
  text-wrap: pretty;
}

.main-content-tillganglighet h3{
  margin-bottom: 1rem;
  color: #2e2e2e;
}

/* ----------------------------- Global buttons ----------------------------- */
button{
  font-weight: 550;
  cursor: pointer;
}

.blue-button{
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: white;
  background-color: #0079B4;
  text-decoration: none;
  border: 2px solid #0079B4;
  border-radius: 0.5rem;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.15),
    0 15px 30px rgba(0, 40, 60, 0.2);
  transition: 
    transform ease-out 0.1s,
    background-color ease-out 0.1s;
  user-select: none;
}

.blue-button:active{
  filter: saturate(0.5);
}

.white-button{
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: #0079B4;
  background-color: white;
  text-decoration: none;
  border: 2px solid #0079B4;
  border-radius: 1rem;
  box-shadow: 
    0 5px 10px rgba(0, 40, 60, 0.15),
    0 15px 30px rgba(0, 40, 60, 0.2);
  user-select: none;
}

.white-button:focus-visible{
  outline: auto -webkit-focus-ring-color;
}

.white-button:active{
  filter: saturate(0.1);
}

.link-button{
  transition: 
    transform ease-out 0.1s,
    background-color ease-out 0.1s;
}

.link-button:hover{
  transform: scale(1.07);
}

.link-button:active{
  background-color: rgb(4, 98, 145);
  transform: scale(1);
  border: none;
}

/* ------------------------------ Global inputs ----------------------------- */
label{
  font-weight: 500;
  color: #222222;
}

input, textarea{
  padding: 0.4rem 0.6rem;
  border: rgba(128, 128, 128, 0.3) solid 2px;
  border-radius: 8px;
  box-shadow: 
    0 2px 5px rgba(0, 40, 60, 0.05),
    0 10px 20px rgba(0, 40, 60, 0.08);
}

input:focus-visible, textarea:focus-visible{
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0.9);
}

input[type="date"], input[type="time"]{
  cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

textarea{
  min-height: 15ch;
  resize: vertical;
}

fieldset{
  border: none;
  padding: 0;
}

legend{
  margin-bottom: 0.5rem;
  padding: 0;
  color: #222222;
  font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/*                             JavaScript classes                             */
/* -------------------------------------------------------------------------- */

/* ----------------------- Classes for booking system ----------------------- */
.trip-strings{
  display: none;
}

h3 .trip-strings{
  margin-left: 0.5rem;
}

p .trip-strings{
  margin-right: 0.5rem;
}

.trip-container{
  position: relative;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.trip-container::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1rem;
  background-color: #0079B4;
  opacity: 50%;
  border-radius: 3px;
}

.trip-item-location, .trip-time-day-item{
  display: flex;
  flex-direction: column;
}

.trip-days-item{
  display: flex;
  gap: 0.5rem;
}

.trip-time-day-item{
  display: flex;
  gap: 0.5rem;
}

.trip-day-box{
  display: grid;
  place-items: center;
  height: 3ch;
  width: 3ch;
  border: 2px solid #0079B4;
  border-radius: 4px;
  background-color: white;
  opacity: 0.6;
}

.trip-day-box-active{
  color: white;
  background-color: #0079B4;
  opacity: 1;
}

.bookings-preview button{
  all: unset;
  color: #045883;
  text-decoration: underline;
  cursor: pointer;
}

.bookings-preview button:focus-visible{
  outline: auto -webkit-focus-ring-color;
  outline-offset: 5px;
  color: #222222;
}

/* -------------------------------- Modal box ------------------------------- */
.modal{
  position: fixed;
  display: none;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal-box{
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.5rem;
  width: min(90%, 700px);
  padding: 2rem;
  border-radius: 1rem;
  background-color: #FAFAFA;
}

.modal-button{
  user-select: none;
}

.no-scroll{
  overflow: hidden;
}

/* ----------------------------- Hamburger menu ----------------------------- */
.hamburger-open{
  position: fixed;
  height: 100svh;
  width: 100%;
  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 576px){
  .hero-content-container{
    width: min(85%, 800px);
    margin: 0 auto;
  }
  
  .hero-content{
    width: 80%;
  }

  .main-content{
    width: min(85%, 1000px);
  }

  .main-content-information{
    padding: 0;
  }

  .preview-bookings-box, .bookings-box{
    border-radius: 1rem;
    box-shadow: 
      0 5px 10px rgba(0, 0, 0, 0.05),
      0 15px 30px rgba(0, 0, 0, 0.1);
  }

  .trip-item-location, .trip-time-day-item{
    flex-direction: row;
  }

  .trip-time-day-item{
    gap: 2rem;
  }
}

@media (min-width: 992px){
  header a{
    height: 70%;
  }

  .header-content img{
    height: 100%;
  }

  header nav ul{
    display: flex;
  }

  .hamburger-button{
    display: none;
  }

  .trip-strings{
    display: inline-block;
  }

  footer{
    font-size: 90%;
  }

  footer ul{
    flex-direction: row;
    gap: 0;
  }

  footer ul div{
    flex-direction: row;
    gap: 1rem;
  }
}